body{
    height: auto;
    width: 100%;
    background-color: green;
}
.App{
    width: 100%;
    height: auto;
}

.feed{
    width: 100%;
    background-color: lightblue;
    h1{
        margin: 0;
        padding: 50px 0;
        text-align: center;
    }
}